<nav class="inline-block font-medium px-3 py-1.5 rounded">
  <div class="fixed z-10 w-full text-center flex justify-center">
    <div
      class="h-14 flex items-center justify-between px-4 animate-border-move rounded-full"
    >
      <ul
        class="flex h-full items-center justify-center space-x-9 text-[10.5px] sm:text-[18px]  text-white font-bold"
      >
        <a href="/#top"><li>INICIO</li></a>
        <a href="/#experiencia"><li>EXPERIENCIA</li></a>
        <a href="/#proyecto"><li>PROYECTOS</li></a>
        <a href="https://wa.link/etukyu" target="_blank"><li>CONTACTO</li></a>
      </ul>
    </div>
  </div>
</nav>


<style>
  @keyframes borderMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%; /* Se ajusta al 100% del ancho */
    }
  }

  .animate-border-move {
    background: linear-gradient(
      100deg,
      rgba(0, 0, 0, 0.7),
      rgb(36, 41, 24),
      rgba(0, 0, 0, 0.7)
    );
    background-size: 200% 100%; /* Ancho ajustado dinámicamente */
    animation: borderMove 10s reverse infinite;
  }

  nav {
    display: inline-block; /* Para que el nav se ajuste al contenido */
  }
</style>

