---
import LinteTimeItem from "./linteTimeItem.astro";

const EXPERIENCE = [
  {
    titulo: "ACTUALMENTE....",
    compañia: "USAT",
    
    imagen:
      "https://cdn-icons-png.flaticon.com/512/4140/4140789.png",
    descripcion:
      "Me encuentro cursado en la Universidad Santo Toribio de Mogrovejo (USAT), donde estoy desarrollando mis habilidades técnicas en diversas áreas de la computación, estando presente en mi 7mo ciclo académico.",
  },

  {
    titulo: "Curso de Redes(CISCO)",
    compañia: "USAT",
    fecha: "03 de Marzo del 2021",
    imagen:
      "https://packet-tracer-win.com/images/uploads/2023-12-29/icon-block-doaqi.png",
    descripcion:
      "Realicé un curso de Redes en la Universidad Santo Toribio de Mogrovejo (USAT), donde aprendí a configurar y administrar redes de computadoras.",
  },
  {
    titulo: "Curso de HTML, CSS y JavaScript",
    compañia: "USAT",
    fecha: "03 de Marzo del 2021",
    imagen:
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZULgn7jR5IH6sCNm5PjEnH1xTaSLFJLmx8w&s",
    descripcion:
      "Realicé un curso de HTML, CSS y JavaScript en la Universidad Santo Toribio de Mogrovejo (USAT), donde aprendí a desarrollar páginas web y aplicaciones interactivas.",
  },
  {
    titulo: "Ingreso a la universidad",
    compañia: "Universidad Santo Toribio de Mogrovejo (USAT)",
    localizacion: "Chiclayo, Lambayeque, Perú",
    fecha: "03 de Marzo del 2020",
    imagen:
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPwv7P2oPILd9TllMlBx-gK8MMn2XfEHmjdw&s",
    descripcion:
      "Ingresé a la carrera de Ingeniería de Sistemas en la USAT, donde comencé a desarrollar mis habilidades técnicas en diversas áreas de la computación.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <LinteTimeItem {...experience} />
      </li>
    ))
  }
</ol>
