---
import Layout from "../layouts/Layout.astro";
import SectionExperience from "../components/section-experience.astro";
import SectionProyecto from "../components/section-proyecto.astro";
---

<Layout title="Bievenido a mi PORTAFOLIO.">
  <main class="px-4">
    <SectionExperience />

    <SectionProyecto />
  </main>
</Layout>
